@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --f-parkinsans: "Parkinsans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-parkinsans);
}

body {
    background-color: rgb(16,16,18);
}

/* CONTAINER */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

/* INPUT */

.input {
    width: 600px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(20,20,22);
    overflow: hidden;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.01);
}

.input-itself {
    background-color: transparent;
    outline: none;
    border: 0;
    padding-inline: 20px;
    color: white;
    font-size: 1rem;
}

.input-button {
    border: 0;
    background-color: rgb(40,40,42);
    padding-inline: 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.input-button:hover {
    background-color: rgb(50,50,52);
}

/* OUTPUT */

.output {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border: 0;
    background-color: rgb(13,13,15);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0.5rem;
    padding-inline: 30px;
    padding-block: 20px 25px;
}

.output-header {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

/* OUTPUT ITSELF */

.output-itself {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* OUTPUT ITSELF INDICATOR */

.requirement-is-met .output-itself-indicator-svg-secure {
    display: unset;
}

.requirement-is-met .output-itself-indicator-svg-not-secure {
    display: none;
}

.output-itself-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-itself-indicator-svg-secure {
    color: rgb(30, 255, 0);
    display: none;
}

.output-itself-indicator-svg-not-secure {
    color: red;
}

.output-itself-requirement {
    color: white;
    font-weight: 300;
}